<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019553855248-p7v8g188m04qn854dbthss9fae35auvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019553855248-p7v8g188m04qn854dbthss9fae35auvk</string>
	<key>API_KEY</key>
	<string>AIzaSyA-G0DiAG5cP60phjNj5ZMPdzqR0TZ29Yk</string>
	<key>GCM_SENDER_ID</key>
	<string>1019553855248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>login-firebase-8d4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>login-firebase-8d4f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019553855248:ios:e6e522c98fa719eb3b9795</string>
</dict>
</plist>